# =======================================================
# FilmBox - Variables d'environnement (Exemple)
# =======================================================

# Configuration PostgreSQL
# Pour une utilisation locale : postgresql://<user>:<mdp-postgres>@localhost:5432/<db-name>
# Pour une utilisation inter-conteneurs Docker : postgresql://<user>:<mdp-postgres>@postgres:5432/<db-name>
DATABASE_URL=
PGHOST=localhost
PGPORT=5432
PGUSER=yoda
PGPASSWORD=
PGDATABASE=

# Configuration Next.js
PORT=3000
NODE_ENV=development
NEXT_PUBLIC_API_BASE_URL=

# Configuration The Movie Database (TMDB) API
# Option 1: Clé d'API (v3 auth)
TMDB_API_KEY=
# Option 2: Jeton d'accès en lecture (v4 Read Access Token Bearer)
TMDB_READ_TOKEN=
